@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-light-webfont.eot");
  src: url("../fonts/proxima-nova-light-webfont.eot?#iefix")format("embedded-opentype"),
       url("../fonts/proxima-nova-light-webfont.woff")format("woff"),
       url("../fonts/proxima-nova-light-webfont.woff2")format("woff2"),
       url("../fonts/proxima-nova-light-webfont.ttf")format("truetype"),
       url("../fonts/proxima-nova-light-webfont.svg#ProximaNova")format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-regular-webfont.eot");
  src: url("../fonts/proxima-nova-regular-webfont.eot?#iefix")format("embedded-opentype"),
       url("../fonts/proxima-nova-regular-webfont.woff")format("woff"),
       url("../fonts/proxima-nova-regular-webfont.ttf")format("truetype"),
       url("../fonts/proxima-nova-regular-webfont.svg#ProximaNova")format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-semibold-webfont.eot");
  src: url("../fonts/proxima-nova-semibold-webfont.eot?#iefix")format("embedded-opentype"),
       url("../fonts/proxima-nova-semibold-webfont.woff")format("woff"),
       url("../fonts/proxima-nova-semibold-webfont.woff2")format("woff2"),
       url("../fonts/proxima-nova-semibold-webfont.ttf")format("truetype"),
       url("../fonts/proxima-nova-semibold-webfont.svg#ProximaNova")format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-bold-webfont.eot");
  src: url("../fonts/proxima-nova-bold-webfont.eot?#iefix")format("embedded-opentype"),
       url("../fonts/proxima-nova-bold-webfont.woff")format("woff"),
       url("../fonts/proxima-nova-bold-webfont.woff2")format("woff2"),
       url("../fonts/proxima-nova-bold-webfont.ttf")format("truetype"),
       url("../fonts/proxima-nova-bold-webfont.svg#ProximaNova")format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima-nova-black-webfont.eot");
  src: url("../fonts/proxima-nova-black-webfont.eot?#iefix")format("embedded-opentype"),
       url("../fonts/proxima-nova-black-webfont.woff")format("woff"),
       url("../fonts/proxima-nova-black-webfont.woff2")format("woff2"),
       url("../fonts/proxima-nova-black-webfont.ttf")format("truetype"),
       url("../fonts/proxima-nova-black-webfont.svg#ProximaNova")format("svg");
  font-weight: 900;
  font-style: normal;
}
